<p> <b> Next 7 Days </b></p>
    <p><b> Today </b> <%= daily.data[0].summary %> <b> High </b> <%= daily.data[0].temperatureMax%> <b> Low </b> <%= daily.data[0].temperatureMin %> </p>
    <p><b> Tomorrow </b> <%= daily.data[1].summary %> <b> High </b> <%= daily.data[1].temperatureMax%> <b> Low </b> <%= daily.data[1].temperatureMin %> </p>
    <p><b> Day 3 </b> <%= daily.data[2].summary %> <b> High </b> <%= daily.data[2].temperatureMax%> <b> Low </b> <%= daily.data[2].temperatureMin %> </p>
    <p><b> Day 4 </b> <%= daily.data[3].summary %> <b> High </b> <%= daily.data[3].temperatureMax%> <b> Low </b> <%= daily.data[3].temperatureMin %> </p>
    <p><b> Day 5 </b> <%= daily.data[4].summary %> <b> High </b> <%= daily.data[4].temperatureMax%> <b> Low </b> <%= daily.data[4].temperatureMin %> </p>
    <p><b> Day 6 </b> <%= daily.data[5].summary %> <b> High </b> <%= daily.data[5].temperatureMax%> <b> Low </b> <%= daily.data[5].temperatureMin %> </p>
    <p><b> Day 7 </b> <%= daily.data[6].summary %> <b> High </b> <%= daily.data[6].temperatureMax%> <b> Low </b> <%= daily.data[6].temperatureMin %> </p>